@import url(https://fonts.googleapis.com/css?family=Nunito);html,
body {
  font-family: "Nunito";
}

.Navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.Sidebar {
  position: fixed;
  top: 0px;
  width: 250px;
  bottom: 0px;
}

[class$=Container] {
  margin-top: 39px;
  padding: 14px;
  min-height: calc(100vh - 39px);
}

.DashboardContainer {
  margin-left: 250px;
}

.text-xxs {
  font-size: 0.7rem;
}

.text-xxxs {
  font-size: 0.6rem;
}

.spinner {
  -webkit-animation: spinner 0.75s ease-in-out infinite;
          animation: spinner 0.75s ease-in-out infinite;
}

@-webkit-keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}